<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSV to JSON</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>CSV to JSON</h1>
    <form action="upload" method="post" enctype="multipart/form-data">
      <center><label for="csv">Upload the CSV file:</label>
      <input type="file" name="csv" accept=".csv" required /></center>
      <button type="submit">Convert to JSON</button>
    </form>
    <textarea id="json" rows="15" cols="80"><%=json%></textarea>
  </body>
</html>
